apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: musthaveconfigs.ops.aditya.dev
spec:
  group: ops.aditya.dev
  names:
    kind: MustHaveConfig
    plural: musthaveconfigs
    singular: musthaveconfig
    shortNames:
      - mhc
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                namespace:
                  type: string
                key:
                  type: string
                value:
                  type: string
              required:
                - key
                - value
            status:
              type: object
              properties:
                synced:
                  type: boolean
                message:
                  type: string
      subresources:
        status: {}
