---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ops.aditya.dev
  resources:
  - musthaveconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ops.aditya.dev
  resources:
  - musthaveconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - ops.aditya.dev
  resources:
  - musthaveconfigs/status
  verbs:
  - get
  - patch
  - update
